<div class="container">
  <div class="row mt-3">
    <form action="/habit/create" method="post">
      <input
        class="form-control"
        type="text"
        name="habit"
        placeholder="Enter habit"
      />
      <input class="btn btn-primary" type="submit" value="Create Habit" />
    </form>
  </div>
</div>
<div class="container">
  <div class="row">
    <%if(habits.length>0){%>
    <ol class="list-group list-group-numbered">
      <%for(let habit of habits){%>
      <li
        class="
          list-group-item
          d-flex
          justify-content-between
          align-items-start
          m-3
        "
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%=habit.description%></div>

          <a href="/habit/delete/<%=habit.id%>"
            ><button class="btn btn-danger">Delete</button></a
          >
        </div>
        <span class="badge bg-success rounded-pill fs-6"
          >Streak : <%=habit.streak%>/7</span
        >
        <span class="badge bg-success rounded-pill mx-4 fs-6">
          Completed : <%=habit.completed%>/7</span
        >
      </li>
      <%}%>
    </ol>
    <%}%>
  </div>
</div>
